*{
    margin: 0;
    padding: 0;
    background: #f6f6f6;

}

details, summary{
    max-width: 500px;
}

details{
    background: #f6f6f6;
    cursor: pointer;
    border-radius: 5px;
    margin: 100px auto 0;
    -webkit-box-shadow: 18px 10px 27px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 18px 10px 27px 0px rgba(34, 60, 80, 0.2);
box-shadow: 18px 10px 27px 0px rgba(34, 60, 80, 0.2);

}

summary{
    padding: 25px;
    font-size: 22px;
    user-select: none;
}


details p{
    line-height: 1.5;
    padding: 0 25px 25px;
    cursor: auto;
}

summary{
    list-style: none;
    border-radius: 15px;
}

details summary::before{
    content: "🏈";
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.4s ease-out;
}

details[open] summary::before{
    transform: rotate(360deg);
}

